*{
    margin: 0px;
    text-decoration: none;
    font-family: "Abhaya Libre";
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
h5{
    font-weight: bold;
}



/*general*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 2px solid #4b4b25;
}

main{
    border-top: 5px;
}
footer{
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-top: 2px solid #4b4b25;
}

footer a{
    color: #4b4b25;
    text-decoration: none;
}

footer p{
    color: #4b4b25;
    margin: 0px;
}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.header__logo img{
    height: 50px;
}

.header__logo h2{
    font-weight: bold;
    font-size: 30px;
    color: #4b4b25;
    margin: 0px;
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0px;
}
.heaader__nav--item{
    color: #4b4b25;
    padding: 10px;
    border-left: 1px solid #4b4b25;
    text-decoration: none;
}


/* index */
.container-main-index{
    height: 1000px;
}

.main__index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.main__index h1{
    font-size: 80px;
}

.main__index h3{
    font-size: 25px;
    letter-spacing: 38px;
}

/* nosotros */


/*menu*/

.main__menu{
    margin: 20px;
}

.main__productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__guiaMenu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: 10px 0px;
}

.main__guiaMenu--item{
    color: #4b4b25;
    padding: 5px 10px;
    border-left: 1px solid #4b4b25;
    text-decoration: none;
}

.main__productos h3{
    font-size: 25px;
}

.card{
    width: 100%;
    height: 450px;
    border: 2px solid #78785f;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
    -moz-box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
    box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.card-text{
    height: 90px;
    margin-bottom: 10px;
}

.card-price{
    margin: 10px 0px;
}

.btn-primary{
    background-color: #4b4b25;
    color: white;
    border: #4b4b25
}

.btn-primary:hover{
    background-color: white;
    color: #4b4b25;
    border: 1px solid #4b4b25;
    transform: translateY(-3px);
    transition: 0.3s ease;
}


/*
.tarjetaMenu h4{
    font-size: 18px;
}

.tarjetaMenu img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0px;
}
*/

/*donde encontrarnos*/


/*oportunidades*/


