*{
    margin: 0px;
    text-decoration: none;
    font-family: "Abhaya Libre";
}

h1{
    font-weight: bold;
}

h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
h5{
    font-weight: bold;
}



/*general*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 2px solid #4b4b25;
}

footer{
    padding: 5px 20px;
    font-size: 18px;
    border-top: 2px solid #4b4b25;
}

footer a{
    color: #4b4b25;
    text-decoration: none;
}

.footer__volver{
    text-align: right;
}

footer p{
    color: #4b4b25;
    margin: 0px;
}


.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.header__logo img{
    height: 50px;
}

.header__logo h2{
    font-weight: bold;
    font-size: 30px;
    color: #4b4b25;
    margin: 0px;
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0px;
}

.header__nav--item{
    color: #4b4b25;
    padding: 10px;
    border-left: 1px solid #4b4b25;
    text-decoration: none;
}

.header__nav--item:hover{
    font-weight: bold;
}

@media(max-width:767px){
    .header__nav--desktop{
        display: none;
    }
}

.bg-body-tertiary{
    --bs-bg-opacity: 0;
    background-color: transparent;
}

.navbar-toggler{
    color: #4b4b25;
    --bs-navbar-toggler-border-color: #4b4b25;
}

@media(min-width:768px){
    .header__nav--mobile{
        display: none;
    }
}

/* index */
.container-main-index{
    height: 1000px;
    background-image: url(../photos/background-2-le-botanique.png);
    background-repeat: repeat-x;
}

@media(max-width:767px){
    .container-main-index{
        height: 850px;
    }
}


.main__index{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}



.main__index h1{
    font-size: 80px;
}

@media(max-width:767px){
    .main__index h1{
        font-size: 55px;
    }
}

.main__index h3{
    font-size: 25px;
    letter-spacing: 38px;
}

@media(max-width:767px){
    .main__index h3{
        font-size: 25px;
        letter-spacing: 22px;
    }
}

/* nosotros */

.carousel{
    margin-bottom: 8px;
}

.main__nosotros--info{
    padding-bottom: 12px;
}
.carousel-item img{
    height: 500px;
    object-fit: cover;
}

@media(max-width:767px){
    .carousel-item img{
        height: 300px;
    }
}
/*menu*/


.main__productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__guiaMenu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: 10px 0px;
    padding: 0px;
}


@media(max-width:767px){
    .main__guiaMenu ul{
        font-size: 18px;
    }
}


.main__guiaMenu--item{
    color: #4b4b25;
    padding: 5px 10px;
    border-left: 1px solid #4b4b25;
    text-decoration: none;
}


.main__guiaMenu--item:hover{
    font-weight: bold;
}

@media(max-width:767px){
    .main__guiaMenu--item{
        padding: 5px;
    }
}

.main__productos h3{
    font-size: 25px;
}

.main__secciones{
    margin-top: 16px;
}

.card{
    width: 100%;
    height: 450px;
    border: 2px solid #78785f;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
    -moz-box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
    box-shadow: 10px 10px 10px 0px rgba(75,75,37,0.77);
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.card-text{
    height: 90px;
    margin-bottom: 10px;
}

.card-price{
    margin: 10px 0px;
}

.btn-primary{
    background-color: #4b4b25;
    color: white;
    border: #4b4b25;
}

.btn-primary:hover{
    background-color: white;
    color: #4b4b25;
    border: 1px solid #4b4b25;
    transform: translateY(-3px);
    transition: 0.3s ease;
}


/*
.tarjetaMenu h4{
    font-size: 18px;
}

.tarjetaMenu img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0px;
}
*/

/*donde encontrarnos*/


/*oportunidades*/

/*.form-control poner el borde en verde, no en azul
    transition:;
}
*/

.main__oportunidades--row{
    margin-bottom: 16px;
}

.form-control{
    border: 1px solid #4b4b25;
}

.form-control:focus{
    border-color:#4b4b25;
    outline:0;
    -webkit-box-shadow:inset 0 0px 1px #4b4b25,0 0 8px #4b4b25;
    box-shadow:inset 0 0px 1px #4b4b25,0 0 8px #4b4b25; 
}

.form-select{
    border: 1px solid #4b4b25;
}

.form-select:focus{
    border-color:#4b4b25;
    outline:0;
    -webkit-box-shadow:inset 0 0px 1px #4b4b25,0 0 8px #4b4b25;
    box-shadow:inset 0 0px 1px #4b4b25,0 0 8px #4b4b25;
}


/*border-color .15s ease-in-out,box-shadow .15s ease-in-out*/