@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin main-button{
    background-color: #4b4b25;
    color: white;
    border: #4b4b25;
    padding: 6px 12px;
    &:hover{
        background-color: white;
        color: #4b4b25;
        border: 1px solid #4b4b25;
        transform: translateY(-3px);
        transition: 0.3s ease;
    }
}

@mixin mediaquery-mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin mediaquery-desktop {
    @media (min-width: 577px){
        @content;
    }
}

@mixin mediaquery-mobile-header {
    @media (max-width: 824px) {
        @content;
    }
}

@mixin mediaquery-desktop-header {
    @media (min-width: 825px){
        @content;
    }
}

@mixin cursive-font {
    font-size: 70px;
    font-family: "Mr De Haviland";
    padding-left: 10px;
}

@mixin leaf-shake {
    &:hover{
        animation: headShake;
        animation-duration: 1s;
    }
}

@mixin button-to-top {
    position:sticky;
    bottom:20px;
    margin-top:110vh;
    z-index: 500;
    text-decoration: none;
    div{
        @include flex-row;
        justify-content: center;
        align-items: center;
        margin-left: calc(100vw - 85px);
        height: 50px;
        width: 50px;
        border-radius: 25px;
        background-color: $secondary-color;
        opacity: 0.7;
        &:hover{
            background-color: white;
            color: #4b4b25;
            border: 1px solid #4b4b25;
            transform: translateY(-3px);
            transition: 0.3s ease;
        }
        img{
            height: 40px;
        }
    }
}