.main__contacto{
    div{
        .mapa{
            max-width: 100%;
            iframe{
                @include mediaquery-mobile{
                    height: 300px;
                }
            }
        }
        section{
            max-width: 1400px;
            margin: 0 auto;
            div{
                margin-bottom: 12px;
                a{
                    img{
                        height: 60px;
                        filter: invert(24%) sepia(5%) saturate(4581%) hue-rotate(22deg) brightness(102%) contrast(84%);
                    }
                }
            }
        }
    }
}
.main__oportunidades--row{
    max-width: 1400px;
    margin: 0 auto;
    div{
        input{
            border: 1px solid $secondary-color;
            &:focus{
                border-color:#4b4b25;
                outline:0;
                -webkit-box-shadow:inset 0 0px 1px $secondary-color,0 0 8px $secondary-color;
                box-shadow:inset 0 0px 1px $secondary-color,0 0 8px $secondary-color;
            }
        }
    }
    div{
        select{
            border: 1px solid $secondary-color;
            &:focus{
                border-color:#4b4b25;
                outline:0;
                -webkit-box-shadow:inset 0 0px 1px $secondary-color,0 0 8px $secondary-color;
                box-shadow:inset 0 0px 1px $secondary-color,0 0 8px $secondary-color;
            }
        }
    }
}
.btn-primary{
    @include main-button;
}