.main__eventos{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
    div{
        section{
            align-items: center;
            &:nth-child(odd){
                @include mediaquery-mobile{
                    flex-direction: column-reverse;
                }
            }
            div{
                h3{
                    @include cursive-font;
                }
            }
            div{
                img{
                    width: 100%;
                    max-height: 250px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
            }
        }
    }
}