.main__menu{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 15px;
    div{
        nav{
            ul{
                list-style-type: none;
                @include flex-row;
                font-size: 18px;
                margin: 10px 0px;
                padding: 0px;
                li{
                    padding: 5px 10px;
                    border-left: 1px solid $secondary-color;
                    a{
                        color: $secondary-color;
                        text-decoration: none;
                    }
                    &:hover{
                        font-weight: bold;
                        transform: translateY(3px);
                    }
                    &:nth-child(1){
                        border-width: 0px;
                    }
                    @include mediaquery-mobile{
                        padding: 3px;
                    }
                }
                    @include mediaquery-mobile{
                        font-size: 16px;
                    }
            }
        }
    }
    .main__productos{
        @include flex-column;
        flex-wrap: wrap;
        div{
            div{
                @include flex-row;
                align-items: center;
                justify-content: space-between;
                h3{
                    @include cursive-font;
                    margin-top: 3rem;
                }
                img{
                    @include leaf-shake;
                    height: 60px;
                    filter: invert(24%) sepia(5%) saturate(4581%) hue-rotate(22deg) brightness(102%) contrast(84%);
                }
            }
            section{
                div{
                    .card{
                        width: 100%;
                        height: 500px;
                        border: 2px solid #78785f;
                        border-radius: 10px;
                        padding: 10px;
                        margin: 10px 0px;
                        @include flex-column;
                        align-items: center;
                        -webkit-box-shadow: $box-shadow;
                        -moz-box-shadow: $box-shadow;
                        box-shadow: $box-shadow;
                        .card-img-top{
                            filter: none;
                            height: 200px;
                            object-fit: cover;
                            animation: none;
                            @include mediaquery-mobile{
                                height: 150px;
                            }
                        }
                        div{
                            width: 100%;
                            @include flex-column;
                            h5{
                                height: 48px;
                            }
                            p{
                                height: 100px;
                                margin-bottom: 10px;
                            }
                            .card-price{
                                height: 20px;
                                margin: 10px 0px;
                            }
                            button{
                                @include main-button;
                                width: 100px;
                                padding: 6px 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
