.main__eventos{
    div{
        div{
            div{
                h4{
                    color: $secondary-color;
                }
            }
            div{
                img{
                    width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
}