.main__nosotros{
    div{

    }
    div{
        div{
            div{
                div{
                    margin-bottom: 8px;
                    div{
                        div{
                            img{
                                height: 500px;
                                object-fit: cover;
                                @media(max-width:767px){
                                    height: 300px;
                            }
                            }
                        }
                    }
                }
            }
        }
    }
}