header{
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 2px solid $secondary-color;
    @include mediaquery-mobile{
        padding: 5px;
    }
    div{
        div{
            justify-content: space-between;
            align-items: center;
            div{ 
                padding: 0px;
                a{
                    @include flex-row;
                    align-items: center;
                    text-decoration: none;
                    img{
                        height: 50px;
                        filter: invert(24%) sepia(5%) saturate(4581%) hue-rotate(22deg) brightness(102%) contrast(84%);
                    }
                    h2{
                        font-size: 30px;
                        color: $secondary-color;
                        margin: 0px;
                        @include mediaquery-mobile{
                            font-size: 23px;
                        }
                    }
                }
            }
            .header__nav--desktop{
                --bs-gutter-x:0px;
                @include mediaquery-mobile-header{
                    width: 0px;
                }
                nav{
                    @include mediaquery-mobile-header{
                        display: none;
                        width: 0px;
                    }
                    ul{
                        list-style-type: none;
                        @include flex-row;
                        font-size: 20px;
                        margin: 0px;
                        justify-content: flex-end;
                        li{
                            padding: 10px;
                            border-left: 1px solid;
                            border-color: $secondary-color;
                            text-decoration: none;
                            &:hover{
                                font-weight: bold;
                                transform: translateY(3px);
                            }
                            &:nth-child(1){
                                border-width: 0px;
                            }
                            a{
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
            .header__nav--mobile{
                nav{ 
                    background-color: $background-color;
                    --bs-navbar-padding-y: 0rem; 
                    --bs-bg-opacity: 0;
                    @include mediaquery-desktop-header{
                        display: none;
                    }
                    div{
                        justify-content: flex-end !important;
                        .navbar-toggler{
                            --bs-navbar-color: $secondary-color;
                            --bs-border-width: 2px;
                        }
                    }
                }
            }
        }
    }
}